@media print {
    body{
        background: #fff;
    }
    @page { margin: 0; }
    .staticPageRow .colp15-4,
    .staticPageRow .colp15-2,
    .sideBarNavs,
    .pageHead,
    .breadcrumbs1,
    .staticPageFooter,
    .sectionBottom,
    #footer,
    #header{
        display: none;
    }
    .middleContainer,
    .mainContainer,
    .staticPageRow .colp15-6{
        width: 100%;
    }
    .whiteSection{
        box-shadow: none;
    }
    .contentBlock {
        padding: 20px 0;
        box-shadow: none;
    }
    .staticPageHead{
        padding: 0;
        margin: 0;
        border: 0;
    }
    .title{
        color: #000;
    }
}